/*corpo geral do site*/
body{
    font-size: 25px;  
  	color: white;
	background:#2A7B9B;
	background: linear-gradient(90deg, rgba(42, 123, 155, 1) 0%, rgba(87, 199, 133,1) 100%, rgba(237, 211, 83, 1)100%);
}

/*foto de perfil e nome*/
#perfil{
	text-align: center;
}

 /*titulo dos contatos*/
.faixa{
	text-align: center;
	color: white;
	border: 50%;
	height: 200px;
  border: 1;
}

/*conteudo das páginas*/
.conteudo{
  text-align: left;
   font-size: 26px;
   color: white;
}

/*link das páginas*/
a{
  text-decoration: none;
  margin: 20px;
}

/*mudar de cor quando o mouse passar por cima no nome*/
a:hover{
    background-color: red;
    border-radius: 5px;
    padding: 2px;
}

/*titulos das páginas*/
h4{
    background-color: white;
    color: black;
    text-align: center;
    background-size: 10px 10px;
}

/*arredondar borda da foto do perfil*/
img{
  border-radius: 20px;
}

/*rodapé da página*/
footer{
  text-align: center;
  margin-bottom: 0px;
}

/*opcao das páginas*/
.opcao{
  text-align: center;
}
/*contato da página*/
.contato{
  text-align: center;
}
.curso{
  background-color: white;
  color: black;
  text-align: center;
  box-shadow: 5px;
  margin-left: 400px;
  margin-right: 400px;
  border-radius: 12px;


}


